body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  div#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url("board.png") no-repeat;
    background-size: cover;
  }
  div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(202, 204, 204);
    box-shadow: 10px 0px 30px 3px rgba(228, 14, 14, 0.979);
    font-size: 2em;
  }
  table {
    position: absolute;
    left: 10px;
    top: 111px;
    transform: translateX(11%);
    border-spacing: 0px;
    table-layout: fixed;
    width: 87%;
  }

  td {
    width: 127px;
    height: 100px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  form {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;
    background-color: hsl(340, 16%, 37%);
  }
  form input {
    background-color: hsla(216, 37%, 35%, 0.582);
    border-color: none;
    color: rgb(202, 204, 204);
    font-size: 1em;
  }
  .hit {
    background: url("ship.jpg") no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  .miss {
    background: url("miss.png") no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  div#info {
    border: 1px solid white;
    margin: 10px 3%;
    box-shadow: 1px 0px 0px 1px white;
    padding: 10px 15px;
    box-sizing: border-box; 
    }

  #data {
    color: rgb(177, 212, 241);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
  div#info #spantitle{
    color: brown;
    font-size: 26px;
  }
